<div class="row">
    <ul style="list-style: none;">
        <li><h4>{{pctrl.part[0]["part_name"]}}</h4></li>
        <li><img ng-src="img/{{part[0]['part_image']}}" alt="{{part[0]['part_image']}}" width="200" height="200"></li>
        <li><p>Manufacture: {{pctrl.part[0]["part_manufacturer"]}}</p></li>
        <li><p>Part Info: {{pctrl.part[0]["part_info"]}}</p></li>
        <li><p>Warranty: {{pctrl.part[0]["part_warranty"]}} Years</p></li>
        <li><p>In Stock: {{pctrl.part[0]["part_stock"]}}</p></li>
        <li><p>Price: {{pctrl.part[0]["part_price"]}}$</p></li>
        <li><input class="form-control" placeholder="amount" type="number" name="number" id="order_amount_txtbox" ng-model="pices"></li>
        <br>
        <li><button class="btn btn-info" ng-click="order()">Order</button></li>
    </ul>
 </div>