<div class="row">
    <div class="col-12">
        <form ng-submit="pctrl.save()" name="userForm">
            <div class="form-group">
                <label for="part_name">Part Name:</label>
                <input type="text" name="part_name" id="part_name" class="form-control" ng-model="pctrl.newPart[0]['part_name']" required>
            </div>
            <div class="form-group">
                <label for="part_price">Part Price:</label>
                <input type="number" name="part_price" id="part_price" class="form-control" ng-model="pctrl.newPart[0]['part_price']" required>
            </div>
            <div class="form-group">
                <label for="part_stock">Part Stock:</label>
                <input type="number" name="part_stock" id="part_stock" class="form-control" ng-model="pctrl.newPart[0]['part_stock']" required>
            </div>
            <div class="form-group">
                <label for="part_manufacturer">Part Manufacturer:</label>
                <input type="text" name="part_manufacturer" id="part_manufacturer" class="form-control" ng-model="pctrl.newPart[0]['part_manufacturer']" required>
            </div>
            <div class="form-group">
                <label for="part_warranty">Part Warranty:</label>
                <input type="number" name="part_warranty" id="part_warranty" class="form-control" ng-model="pctrl.newPart[0]['part_warranty']" required>
            </div>
            <div class="form-group">
                <label for="part_info">Part Info:</label>
                <input type="text" name="part_info" id="part_info" class="form-control" ng-model="pctrl.newPart[0]['part_info']" required>
            </div>
            <div class="form-group">
                <input type="submit" value="editPart" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>